<% include ../layout/header %>

<div id="todos" class="container">
    
    <h2><%=title%></h2>

  <form action="<%=baseUrl%><%=action%>" method="post">

    <input type="hidden" name="id" id="devId" value="<%=data.id%>">
    
    <div>Assigned To : <%=data.name%></div>

    <div class="form-row">

      <div class="form-group col-md-6">              
      <input type="text" name="todo" class="form-control" id="todo"  v-model="todo" placeholder="Add todo">
      </div>

      <div class="form-group col-md-6">
          <button type="button" class="btn btn-primary" v-on:click="addTodo">Add Todo</button>
      </div>

    </div>


    <ul class="todo-list">
        <li v-for="(todo, index) in todos">
            <button type="button" class="btn btn-danger btn-sm" v-on:click="delTodo(todo.id)"><i class="fa fa-remove"></i></button> {{ todo.task }} 
        </li>
      </ul>

    
  </form>

</div>

<% include ../layout/footer %>